* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    display: flex;
    justify-content: left;
    height: 100%;
}

#logo_univ {
    width: 250px;
    height: 80px;
    margin-left: 15px;
}

.menu{
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
}

#menu_materiel{
    margin-left: 5%;
}

#menu_logo{
    width: 20%;
    text-align: center;
}

.bouton_menu{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 400ms;
}

.bouton_menu:hover{
    color: #6B7B8C;
}

#logo_compte{
    width: 25%;
    margin-left: 35%;
    margin-top: 7%;
}

header {
    background-color: #0f273b;
    height: 100px;
}

#bandeau_img {
    width: 100%;
    height: 225px;
}

#interieur {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

#div_nouveaute{
    margin-top: 50px;
}

#nouveaute{
    text-align: center;
    font-size: 50px;
}

#product_container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.div_img{
    width: 35%;
    height: 20%;
}

.img_product{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img_perche{
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    object-fit: cover;
}