* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text_form {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

#div_form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-bottom: 25px;
  border-radius: 30px;
}

#enregistre {
  color: rgb(69, 243, 0);
}

#problem {
  color: red;
  margin-top: 20px;
}

#boutton_connecter {
  height: 30px;
  width: 175px;
  font-size: 18px;
  background-color: #0f273b;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 1s;
  -webkit-transition: all 0.7s ease;
}

#boutton_connecter:hover {
  background-color: #3f64b2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

header {
  background-color: #0f273b;
  height: 100px;
}

#nav {
  display: flex;
  justify-content: center;
}

#logo_univ {
  width: 250px;
  height: 80px;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 100%;
  height: 100%;
}

#button_inscription {
  margin-right: 20px;
  height: 30px;
  width: 175px;
  font-size: 18px;
  background-color: #0f273b;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 1s;
  -webkit-transition: all 0.7s ease;
}

#button_inscription:hover {
  background-color: #3f64b2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.champ {
  height: 20px;
  width: 200px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#titre_connexion {
  text-align: center;
  margin-top: 75px;
}

.container {
  display: flex;
  justify-content: center;
}

#bouttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
