* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#div_table_demande {
  margin-top: 4%;
  margin-bottom: 15%;
  max-height: 750px;
  overflow: hidden;
  overflow-y: scroll;
}

#table_demande {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 10px;
  background-color: rgba(197, 197, 197, 0.35);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-collapse: collapse;
  text-align: center;
}

#premiere_ligne {
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: rgba(197, 197, 197);
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.espace {
  height: 10px;
}

.refuse {
  color: red;
}

.accepte {
  color: green;
}

.attente {
  color: orangered;
}
