* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  #logo_univ {
    width: 250px;
    height: 80px;
    margin-left: 15px;
  }
  
  .menu {
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
  }
  
  .bouton_menu {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 400ms;
  }
  
  .bouton_menu:hover {
    color: #6b7b8c;
  }
  
  header {
    background-color: #0f273b;
    height: 100px;
  }
  
  #bandeau_img {
    width: 100%;
    height: 225px;
  }
  
  #interieur {
    width: 100%;
    height: 225px;
    object-fit: cover;
  }
  
  #deconnexion{
    font-size: 20px;
    margin-top: 15%;
    background-color: white;
  }
  
  #menu_logo {
    width: 20%;
    text-align: center;
    transition: height 2s;
  }
  
  #menu_logo:hover{
    height: 350px;
    z-index: 2;
    cursor: pointer;
  }

  #logo_compte {
    width: 25%;
    height: auto;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
  }