* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0f273b;
  height: 100px;
}

#logo_univ {
  width: 250px;
  height: 80px;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.erreur {
  color: red;
  font-size: 13px;
  margin-top: 10px;
  width: 200px;
  justify-content: center;
}

#div_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

#div_nom_prenom {
  margin-right: 20px;
  text-align: center;
}

#div_date_mail {
  margin-right: 20px;
  text-align: center;
}

#div_mdp {
  text-align: center;
}

#button {
  margin-left: 29px;
  height: 30px;
  width: 175px;
  font-size: 18px;
  background-color: #0f273b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 1s;
  -webkit-transition: all 0.7s ease;
}

#button:hover {
  background-color: #3f64b2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.champ {
  height: 20px;
  width: 200px;
}

.text_form {
  font-size: 17px;
}

#connexion_compte {
  margin-left: 73%;
  margin-top: 19%;
}

#button_connexion {
  margin-left: 29px;
  height: 30px;
  width: 175px;
  font-size: 18px;
  background-color: #0f273b;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 1s;
  -webkit-transition: all 0.7s ease;
}

#button_connexion:hover {
  background-color: #3f64b2;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#titre_inscription {
  text-align: center;
  margin-top: 75px;
}

#nav {
  display: flex;
  justify-content: center;
}

#bouttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 15px;
}
