.container_materiel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.container_info_global {
  background-color: rgba(197, 197, 197, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  width: 40%;
  height: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.container_info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 20px;
}

.img_produit {
  border-radius: 15px;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.div_img {
  margin: 20px;
}

#nom_produit {
  font-weight: bold;
}

#reference {
  margin-top: 7%;
}

#button {
  margin-top: 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 55%;
  height: 75%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.702);
  border-color: rgba(107, 107, 107, 0.585);
  transition: background-color;
  transition: color;
  transition: border;
  -webkit-transition: all 0.8s ease;
  font-size: auto;
  font-weight: bold;
  overflow: hidden;
}

#button:hover {
  background-color: rgba(0, 0, 0, 0.846);
  border: none;
  color: white;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
