* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.titre_champs{
  margin-top: 10%;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  justify-content: left;
  height: 100%;
}

#logo_univ {
  width: 250px;
  height: 80px;
  margin-left: 15px;
}

.menu {
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 30px;
}

#menu_logo {
  width: 20%;
  height: auto;
  text-align: right;
  justify-content: right;
}

.bouton_menu {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: color 400ms;
}

.bouton_menu:hover {
  color: #6b7b8c;
}

#logo_compte {
  width: 40%;
  height: 75%;
  margin-top: 6%;
  margin-right: 7%;
  object-fit: scale-down;
}

header {
  background-color: #0f273b;
  height: 100px;
}

#bandeau_img {
  width: 100%;
  height: 125px;
}

#interieur {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

#div_formulaire {
  display: flex;
  flex-direction: column;
}

#titre {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 20px;
}

#container {
  display: flex;
  flex-direction: row;
}

#div_info {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 15%;
}

#description {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 10%;
  font-size: 20px;
  width: 50%;
}

.champs_info {
  margin-top: 10px;
  margin-bottom: 5%;
}

#champs {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  resize: none;
}

#boutton_ajout {
  height: 30px;
  width: 250px;
  font-size: 18px;
  background-color: #0f273b;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 1s;
  -webkit-transition: all 0.7s ease;
}

#boutton_ajout:hover {
  background-color: #3f64b2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#div_boutton {
  display: flex;
  justify-content: right;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 20px;
}

.erreur {
  font-size: 15px;
  color: red;
  text-align: justify;
}

#acpt {
  color: rgb(69, 243, 0);
}

#input_img{
  width: 100%;
}

.titre_champs{
  margin-top: 10%;
}