* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#div_reservation_globale {
  background-color: rgba(197, 197, 197, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 20px;
  height: auto;
}

#container_info_produit {
  display: flex;
  flex-direction: row;
}

#div_img_reservation {
  margin-top: 2%;
  margin-left: 2%;
  width: 35%;
  height: 250px;
}

#img_reservation {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

#div_info_produit {
  margin-top: 5%;
  margin-left: 5%;
}

#nom_produit {
  font-weight: bold;
  font-size: 30px;
}

#reference {
  font-weight: bold;
}

#type {
  font-weight: bold;
}

#description {
  font-weight: bold;
}

.ligne_info {
  margin-top: 2%;
  margin-bottom: 2%;
}

#container_reste_info {
  margin-top: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#reservation_date {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
}

#text_date {
  text-align: center;
  margin-bottom: 5%;
}

.form_date {
  border-radius: 5px;
  border-color: rgba(107, 107, 107, 0.585);
}

#boutton_valider {
  height: 30px;
  width: 175px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.702);
  color: black;
  border-radius: 5px;
  border-color: rgba(107, 107, 107, 0.585);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color;
  transition: color;
  transition: border;
  -webkit-transition: all 0.8s ease;
}

#boutton_valider:hover {
  background-color: rgba(0, 0, 0, 0.846);
  border: none;
  color: white;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

#div_boutton_valider {
  margin-right: 5%;
  margin-top: 2%;
}
#boutton_modifier {
  height: 30px;
  width: 175px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  border-radius: 5px;
  border-color: rgba(107, 107, 107, 0.585);
  cursor: pointer;
  transition: background-color;
  transition: color;
  transition: border;
  -webkit-transition: all 0.8s ease;
}

#boutton_modifier:hover {
  background-color: rgba(0, 0, 0, 0.846);
  border: none;
  color: white;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

#div_boutton_modifier {
  margin-left: 30%;
  margin-top: 2%;
}

.message_reserv {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

#container_msg {
  margin-top: 5%;
}

#button_retour {
  text-decoration: none;
  font-size: 30px;
  color: black;
  transition: all 1s;
}

#button_retour:hover {
  color: #6b7b8c;
}

#div_retour {
  margin-top: 3%;
  margin-left: 3%;
}

.saut_ligne{
  margin-top: 13px;
}